@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b;
    /* Um gradiente radial para o centro não ser totalmente preto */
    background-image: 
      radial-gradient(at top center, #111827 0%, transparent 80%),
      /* O padrão de pontos (Dot Grid) */
      radial-gradient(circle, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 100% 100%, 24px 24px;
    background-attachment: fixed;
    color: white;
  }

  /* Scrollbar moderna */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }
}
